{% extends '_base.html' %}
{% block title %} Create Account {% endblock%}
{% load bootstrap4 %}


{% block content %} 

<br>
<br>
<br>
  <div class="container mt-5">
     <div class="row justify-content-center">
         <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                         <h4 class="text-center text-uppercase mb-3">
                           Join Today  
                         </h4>
                      
                        <form method="post">
                          {% csrf_token %}
                          {% bootstrap_form form %}
                          <button class="btn  btn-block btn-info " type="submit"> Register 
                          </button>
                          <p class=" text-center mt-3">
                            Already have an account?  <a href="{% url 'login' %}?next={{ request.GET.next }}"> <b> Sign In </b></a>
                          </p>
                        </form>
                        
                    </div>
                </div>
         </div>
     </div>
  </div>

{% endblock %}