{% extends '_base.html' %}
{% block title %} Xpercel  {% endblock %}

{% block content %}
<section class="jumbotron text-center mt-0" style="background-color:#1a6be5;color:whitesmoke;">
<div class="container">
     <div class="row mb-5 p-4">
          <div class="col-12">
               <h1 class="text-center mt-5 mb-5">  <b>X</b>percel Delivery <br></h1>
               
               <h6 class="text-center mt-0"><small class="text-muted">Delivery made easy</small></h6>
          </div>
</div>
</section>
     
<br>

<!--- section -->
 <div class="container">
          <div class="row">
               <div class="col-lg-6 mb-2">
                    <div class="card">
                         
                         <div class="card-body p-4" style="border: 1 solid #D6DC23;">
                           <h5 class="card-title">CUSTOMER</h5>
                           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><br>
                           <a href="/customer/" class="btn p-2 btn-success"> CUSTOMER</a>
                         </div>
                       </div>
               </div>

               <div class="col-lg-6 mb-2">
                    <div class="card">
                         <div class="card-body p-4">
                           <h5 class="card-title">COURIER</h5>
                           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><br>
                           <a href="/courier/" class="btn  btn-success
                            p-2"   >COURIER</a>
                         </div>
                       </div>
               </div>
          </div>
     
     </div>



{% endblock %}